@model MedSync.Core.Application.ViewModels.Patients.SavePatientViewModel
@{
    bool editMode = Model != null && Model.Id != 0;
    ViewData["Title"] = "Guardar doctor";
}

<div class="container-fluid">

    <div class="row">
        <div class=" card g-5">
            <div class="card-header bg-light text-dark">
                <h4 class="fw-semi-bold">@(editMode ? $"Editando el paciente: {Model.Name}" : "Agregando nuevo paciente")</h4>
            </div>

            <div class="card-body bg-light text-dark">

                <form method="post" enctype="multipart/form-data" asp-action=@(editMode? "Edit" : "Add") asp-controller="Patient">


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Name" class="form-label">Nombre</label>
                            <input asp-for="Name" type="text" placeholder="Juan" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="LastName" class="form-label">Apellido</label>
                            <input asp-for="LastName" type="text" placeholder="Pérez" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6 ">
                            <label asp-for="Adress" class="form-label">Dirección</label>
                            <input asp-for="Adress" placeholder="C/ Sanchez #2" class="form-control" />
                            <span asp-validation-for="Adress" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-md-6 ">
                            <label asp-for="PhoneNumber" class="form-label">Numero Telefónico</label>
                            <input asp-for="PhoneNumber" type="number" placeholder="8099382912" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="mb-3 col-md-6 ">
                            <label asp-for="IdentificationNumber" class="form-label">Número de Cédula</label>
                            <input asp-for="IdentificationNumber" type="text" placeholder="402-3194829-3" class="form-control" />
                            <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-md-6 ">
                            <label asp-for="File" class="form-label">Selecciona una foto del doctor</label>
                            <input asp-for="File" class="form-control" />
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6 ">
                            <label asp-for="HasAlergies" class="form-label">¿Tiene alergias?</label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="HasAlergies" value="true">
                                <label class="form-check-label" asp-for="IsSmoker" value ="true">
                                    Si
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="HasAlergies" value="false">
                                <label class="form-check-label" asp-for="HasAlergies" value="false">
                                    No
                                </label>
                            </div>

                        </div>


                        <div class="mb-3 col-md-6 ">
                            <label asp-for="HasAlergies" class="form-label">¿Es fuamdor?</label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="IsSmoker" value="true">
                                <label class="form-check-label" asp-for="IsSmoker">
                                    Si
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="IsSmoker" value="false">
                                <label class="form-check-label" asp-for="IsSmoker" value="false">
                                    No
                                </label>
                            </div>

                        </div>
                    </div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="DoctorOfficeId" />

                    <a asp-action="Index" asp-controller="User" class="btn btn-warning">Volver</a>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
