@model List<MedSync.Core.Application.ViewModels.LabResult.LabResultViewModel>
@using MedSync.Core.Application.ViewModels.LabResult
@using MedSync.Core.Domain.Enums

@{
    ViewData["Title"] = "Ver resultados";
}

<div class="row">
    <div class=" container col-6 offset-3">
        <div class="card">
            <div class="card-header bg-info text-light ">
                <h4>Resultados de la cita</h4>
            </div>

            <div class="card-body bg-light text-dark d-flex flex-column align-items-center">

                @if (Model == null || Model.Count == 0)
                {
                    <h2 class="text-dark">No se encontraron resultados</h2>
                }
                else
                {

                    <table class="table table-hover table-light">
                        <thead>
                            <tr>

                                <th scope="col">Prueba de laboratorio</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Resultado</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (LabResultViewModel labResult in Model)
                            {

                                <tr>

                                    <td>@labResult.LabTest.Name</td>
                                    <td>@labResult.Status.GetDisplayName()</td>
                                    <td>@labResult.Description</td>

                                </tr>
                            }

                        </tbody>

                    </table>

                    <div class="d-flex justify-content-start gap-2">
                        <a asp-controller="Appoiment" asp-action="Index" class="btn btn-outline-warning">Cerrar resultados</a>
                    </div>

                }
            </div>


        </div>
    </div>
</div>
