@model List<MedSync.Core.Application.ViewModels.LabTests.LabTestViewModel>
@using MedSync.Core.Application.ViewModels.LabTests
@{
    ViewData["Title"] = "Mantenimiento de pruebas de laboratorios";
}

<div class="container-fluid px-0">

    <div class="d-flex justify-content-between align-items-center mb-3">

        <a asp-controller="LabTest" asp-action="Add" class="btn btn-success"> Agregar Nueva Prrueba de Laboratorio</a>
    </div>

    <div class="row">

        @if (Model == null || Model.Count == 0)
        {
            <h2 class="text-dark">No se encontraron pruebas de laboratorio</h2>
        }
        else
        {
            <div class="card bg-light">
                <table class="table table-hover table-light">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (LabTestViewModel labTest in Model)
                        {
                            <tr>
                                <td>@labTest.Id</td>
                                <td>@labTest.Name</td>

                                <td>
                                    <div class="btn-group btn-group-sm d-flex">
                                        <a asp-controller="LabTest" asp-action="Edit" asp-route-id="@labTest.Id" type="button" class="btn btn-sm btn-outline-warning">Editar</a>
                                        <a asp-controller="LabTest" asp-action="Delete" asp-route-id="@labTest.Id" type="button" class="btn btn-sm btn-outline-danger">Eliminar</a>
                                    </div>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>


        }


    </div>
</div>